{% extends 'home/base.html' %}
{% load staticfiles %}
{% block body %}
<title>Home</title>
    <p style="font-family: 'Lobster';font-size: 40px;">Welcome {{ request.user.username }}</p>
    <div>
    </div>

    <div class="col-sm-2 sidenav">
        <p style="font-family: 'Lobster'; font-size: 40px;">Interests</p>
        <ul>

        {% for c in interests %}
                <li>
                    <p style="font-size:25px;">{{ c.Name }}</p>
                        <form action="{% url 'home:deleteinterest' c.id %}" method="post">{% csrf_token %}
                            <button type="submit" class="btn btn-danger" value="Delete"> Delete </>
                        </form>
                </li>
        {% endfor %}
		</ul>
    </div>


    <div class="col-sm-8 text-left">



        <h1>Recommendations for you</h1>
            <img  class="figure-img img-fluid rounded" src="{% static 'home/images/java.png' %} " style="width:200px;height:200px" />

            <img  class="figure-img img-fluid rounded" src="{% static 'home/images/algebra.png' %} " style="width:200px;height:200px" />

            <img  class="figure-img img-fluid rounded" src="{% static 'home/images/dbs.jpeg' %} " style="width:200px;height:200px" />
            <br>
                <h1>Free Courses</h1>

            <a target="_blank" href="http://www.coursera.org ">
                <img  class="figure-img img-fluid rounded" src="{% static 'home/images/coursera.png' %} " />
            </a>
            <a target="_blank" href="https://in.udacity.com/">
             <img  class="figure-img img-fluid rounded" src="{% static 'home/images/udac.jpg' %} " />
            </a>
            <a target="_blank" href="https://www.udemy.com/">
                <img  class="figure-img img-fluid rounded" src="{% static 'home/images/udemy.png' %}" />
            </a>


    </div>



    <div class="col-sm-2 sidenav">
		 <p style="font-family: 'Lobster'; font-size: 40px;">Quick Links</p>
        <ul>
            <li style="font-size:25px;">
                C
            </li>
            <li style="font-size:25px;">
                C++
            </li>
            <li style="font-size:25px;">
                Python
            </li>
        </ul>

         <p style="padding-top:50px;font-family: 'Lobster'; font-size: 40px;">Trending</p>
        <ul>
            <li style="font-size:20px;">
                Coding Interview Questions
            </li>
            <li style="font-size:20px;">
                Intro to Machine Learning
            </li>
            <li style="font-size:20px;">
                Number Theory and Cryptography
            </li>
        </ul>


    </div>

{% endblock %}